:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #ff761a;
  --secondary-color: #fff5eb;
  --font-color: rgb(46, 46, 46);
  --nav-border-color: rgb(213, 213, 213);
  --border-color: #bca79d;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--font-color);
  background-color: var(--secondary-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p, label {
  font-size: 1.4rem;
}

.main-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
}

.main-title {
  text-align: center;
}

.user-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checklist {
  display: flex;
  flex-direction: column;
}

.checklist h2,
.upload-evidence h2 {
  text-align: center;
}

.checklist-options {
  align-self: center;
}

.radio-button {
  display: flex;
  align-items: center;
  margin: 0.3rem;
}

.input-form {
}

.image-upload {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 1.5rem;
}

.img-display {
  max-width: 32rem;
  max-height: 76rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 0.8rem;
  color: var(--font-color);
  transition: 0.35s;
  border: 2px solid transparent;
}
.nav-link:hover,
.active {
  border-bottom: 2px solid var(--primary-color);
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

.user-input {
  min-width: 30rem;
  height: 3rem;
  border-style: none;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.upload-evidence {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.textarea-comment {
  border: 1px solid var(--border-color);
  resize: none;
  border-radius: 0.5rem;
}

.nav-icon {
  display: none;
}

.nav-text {
  display: inline;
}

.summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.summary-credentials {
    padding-bottom: 5rem;
}

.summary-no-nc {
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 0.5rem;
  grid-area: 1 / 1 / 2 / 4;
}

@media screen and (max-width: 768px) {
  .nav-text {
    display: none;
  }
  .nav-icon {
    display: inline;
  }

  .summary {
    display: flex;
    flex-direction: column;
  }
}
